
body{
  background: url("mountain.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.fa{
  color: #212121;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}
.container_2{
display: flex;
flex-wrap: nowrap;
justify-content: center;
background-color: #ffffff;
background: transparent;
overflow-x: hidden;
padding-top: 0px;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
.container_21{
  display: grid;
  width: 0px;
  height: 0px;
  visibility: hidden;
  justify-content: center;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 0px;
  transition: 0.5s;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  }
.force-to-middle > span{
  font-size:30px;
  cursor:pointer;
  font-weight: bold;
  visibility: hidden;
  position:fixed;
  top: 0px;
  left: 5px;
}
.force-to-bottom{
  padding-left: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  position:absolute;
 bottom: 5%;
 width: 100%;
}
.force-to-bottom > div{
   width: 100px;
}
.force-to-middle{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  position:absolute;
 width: 100%;
 bottom: 40%;

}
.force-to-middle .mid1{
  text-align: center;
}
.cont a{
  opacity: 1.0;
  text-decoration: none;
  font-size: 25px;
  color: #212121;
  display: block;
  transition: 0.3s;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
.cont a:hover{
  color:grey;
}
.closeit a{
  opacity: 1.0;
  text-decoration: none;
  font-size: 25px;
  color: #212121;
  display: block;
  position: relative;
  padding-bottom: 50px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  transition: 0.5s;
}
.closeit a:hover{
  color: grey;
}
#main{
  transition: margin-left .5s;
  padding: 16px;
}
.cont1 .clbn {
  font-size: 25px;
  margin-left: 100px;
  color: #212121;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 36px;
}

h1,p{
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
font-size: 50px;
font-weight: lighter;
}
p{
margin-top: 50px;
}
@media only screen and (max-width: 768px) {
  .container_2{
   visibility: hidden;
 }
.force-to-middle > span{
   visibility: visible;
 }
}
@media only screen and (max-height: 432px){
 .force-to-middle{
   position: sticky;
 }
 .force-to-bottom div a{
     position: sticky;
 }
}